@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

#root {
  max-width: 1366px;
  margin: 0 auto;
  text-align: center;
  font-family: "Inter";
}

@theme {
  --color-blue-600: #453fe1;
  --color-grey-500: #7c8181;
  --color-lightgrey-500: #f0f0f0;
  --color-green-new: #317f39;
  --color-black-500: #414343;
  --color-transparent-grey: #f8f8f8bf;
  --shadow-grey: 0 0 36px rgba(248, 248, 248, 0.75);
  --font-special: "Inter", "sans-serif";
}
